<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div id="container-fluid">
<div id="wrap">
<div class="row">

<div class="well col-md-2 col-xs-12" style="color:black"></div>

<div class="well col-md-8 col-xs-12" style="color:black">
<%if(mer){%>
<%for(var i=0;i<mer.length;i++){%>

<%if(mer[i].rowid%2!==0){%>
<div class="well col-md-4 col-xs-12" style="color:black">
<%=mer[i].rowid %>
<%=mer[i].rowid/2 %>
<a href="shop#<%=mer[i].sku%>" target="_blank">
<img src=<%=mer[i].img%>></a>
<br>
<%=mer[i].name%>
TMS-<%=mer[i].sku%>
</div>

<%}else if (mer[i].rowid%2==0){%>
<div class="well col-md-4 col-xs-12" style="color:black">
<%=mer[i].rowid%>
<%=mer[i].rowid/2%>
<a href="shop#<%=mer[i].sku%>" target="_blank">
<img src=<%=mer[i].img%>></a>
<br>
<%=mer[i].name%>
TMS-<%=mer[i].sku%>
</div>
<%}else if (mer[i].rowid%3==0){%>
<div class="well col-md-4 col-xs-12" style="color:black">
<%=mer[i].rowid%>
<%=mer[i].rowid/2%>
<a href="shop#<%=mer[i].sku%>" target="_blank">
<img src=<%=mer[i].img%>></a>
<br>
<%=mer[i].name%>
TMS-<%=mer[i].sku%>
</div>
<%}%>

<%}%>
<%}%>
</div>

</div>
</div><!--row-->


</div><!-- /container -->

<!--ここからフッター-->

<!-- col12 -->
<div class="col-xs-12" style="background-color:black">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!--row-->
</div><!-- /col12 -->

</body>

