<section class="section">
<%=trans.TIT1%>
<h2>
<div class="title4" align="center">
<%=trans.cont%>
</div>
</h2>
<br>
<form class="title2" method="POST">
<dl>
<dt><%=trans.name%></dt>
<dd><input type="text" name="name" required></dd>
<dt><%=trans.name%></dt>
<dd><input type="text" name="sub" required></dd>
<dt><%=trans.name%></dt>
<dd><input type="email" name="mail" required></dd>
<dt><%=trans.name%></dt>
<dd><textarea rows="5" cols="50" name="message"></textarea></dd>
</dl>

<div class="btnWrap">
<button type="submit" class="button">
    <%=trans.send%>
    </button>
</div>

</form>
</section>


